equipe2/sauvegarde/Bibliography.DTD

<!-- DTD bibliography is composed by article -->

<!ELEMENT bibliography (collection)+>
	<!ELEMENT collection (name, article*)
		<!ELEMENT article (title, author+, journal, year, volume?, number?, page?, month?, note?, tag*, link?)>
			<!ATTLIST ref ID #REQUIRED>
			<!ELEMENT title (#PCDATA)>
			<!ELEMENT author (#PCDATA)>
			<!ELEMENT journal (#PCDATA)>
			<!ELEMENT year (#PCDATA)>
			<!ELEMENT volume (#PCDATA)>
			<!ELEMENT number (#PCDATA)>
			<!ELEMENT month (#PCDATA)>
			<!ELEMENT page (#PCDATA)>
			<!ELEMENT note (#PCDATA)>
			<!ELEMENT tag (#PCDATA)>
			<!ELEMENT link (#PCDATA)>
	